<!-- File created in Thu Jun 22 03:09:29 BRT 2017 -->
<meta charset="utf-8">
<link rel="stylesheet" href="style.css" type="text/css">
<div class="image">
 <img src="http://localhost:8008/file/dica/5/1-r-image.png" alt="Imagem">
</div>
<p class="text"> joijhoihf </p>
<div class="image">
 <img src="http://localhost:8008/file/dica/5/18527828_1847855522202070_6531821057095095303_n.jpg" alt="Imagem">
</div>
<p class="text"> huigiguhijl </p>