<!-- File created in Thu Jun 22 02:33:02 BRT 2017 -->
<meta charset="utf-8">
<link rel="stylesheet" href="style.css" type="text/css">
<div class="image">
 <img src="http://localhost:8008/file/dica/2/18527828_1847855522202070_6531821057095095303_n.jpg" alt="Imagem">
</div>
<p class="text"> njhhuihuih </p>